
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Not Found</title>
    <link rel="shortcut icon" href="~/Content/images/logo.png" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/myStyle.css" rel="stylesheet" />
    <style>
        body {
            background-color: #fff;
        }
    </style>
</head>
<body>
    <div class="printtoPDF">
       
            <p class="alert error" id="successMessage" style="color:#721717; text-decoration:none;"> WE ARE CURRENTLY DEVELOPING THE SYSTEM - نقوم حاليا بتطوير النظام، يرجى الدخول في وقت آخر </p>
        

    </div>

    </body>
</html>
