
@{
    ViewBag.Title = "Choose create type";
    string align = "text-right";
    string alignInverse = "text-left";
    string dir = "ltr";
    if (ViewBag.lang == "ar")
    {
        align = "text-left";
        alignInverse = "text-right";
        dir = "rtl";
    }


}

<style>
    td, th {
        text-align: center !important;
    }
</style>


<div class="container-fluid" dir="@dir">
    <div class="row">
        @Html.Partial("Index")

        @Html.Partial("Tabs")
    </div>
</div>



